{% extends 'templates/tm-base.html' %}}

{% block title %} Inicio {% endblock %}

{% block content %}
<div class="h-screen flex items-center justify-center">
  <div class="bg-gray-200 p-8 rounded-lg shadow-md w-96">
    <h2 class="text-2xl font-bold mb-6 text-center text-blue-600">Iniciar Sesión</h2>
    

    <form id="login-form" action="/api/method/login">
      <!-- Campo de Email -->
      <div class="mb-4">
        <label for="email" class="block text-sm font-bold text-gray-700">Email:</label>
        <input type="text" id="usr" name="usr" placeholder="jane@example.com" required
          class="mt-1 p-2 w-full border rounded-md bg-blue-50 border-blue-300 focus:outline-none focus:ring focus:ring-blue-200">
      </div>

      <!-- Campo de Contraseña -->
      <div class="mb-4">
        <label for="password" class="block text-sm font-bold text-gray-700">Contraseña:</label>
        <input type="password" id="pwd" name="pwd" placeholder="Ingrese su contraseña" required
          class="mt-1 p-2 w-full border rounded-md bg-blue-50 border-blue-300 focus:outline-none focus:ring focus:ring-blue-200">
      </div>

      <!-- Botón de Envío -->
      <button type="submit"
        class="w-full bg-blue-600 text-black p-2 rounded-md hover:bg-gray-400  transition duration-200">Iniciar</button>
    </form>

    <!-- Mensaje de Error -->
    <div id="error-message" class="hidden text-red-600 mb-4 text-center"></div>

  </div>
</div>
{% endblock %}

{% block javascript %}
<script>
  document.getElementById('login-form').addEventListener('submit', function (event) {
    event.preventDefault(); // Evitar el envío del formulario por defecto

    const formData = new FormData(this);
    const errorMessageDiv = document.getElementById('error-message');

    fetch('/api/method/login', {
      method: 'POST',
      body: formData,
      credentials: 'include'
    })
      .then(response => response.json())
      .then(data => {
        if (data.message === 'Logged In') {
          // window.location.href = '/app'; // Redirigir a la página de administración
          window.location.href = '{{ redirect_url }}';
        } else {
          // Mostrar mensaje de error
          errorMessageDiv.textContent = 'Error en el inicio de sesión. Por favor, verifica tu email y contraseña.';
          errorMessageDiv.classList.remove('hidden'); // Hacer visible el mensaje
        }
      });
  });
</script>
{% endblock %}